[requires]
python_version = "3.10"

[packages]
langchain-community = "*"
bs4 = "*"
faiss-cpu = "*"
langchain-openai = "*"
langchain-ollama = "*"
openai = "*"
langchain = "*"
fastapi = "*"
uvicorn = "*"
aiofiles = "*"
lxml = "*"
gpt4all = "*"
langgraph = "*"
plotly = "*"

[dev-packages]
